<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">

    <Properties>
        <Property name="APP_LOG_ROOT">${sys:LOG_PATH:-logs}</Property>
        <Property name="DEBUG_LOG_SIZE">${sys:DEBUG_LOG_SIZE:-3MB}</Property>
        <Property name="INFO_LOG_SIZE">${sys:INFO_LOG_SIZE:-3MB}</Property>
        <Property name="WARN_LOG_SIZE">${sys:WARN_LOG_SIZE:-3MB}</Property>
        <Property name="DEBUG_LOG_NAME">${sys:DEBUG_LOG_NAME:-debug.log}</Property>
        <Property name="INFO_LOG_NAME">${sys:INFO_LOG_NAME:-info.log}</Property>
        <Property name="WARN_LOG_NAME">${sys:WARN_LOG_NAME:-warn.log}</Property>
    </Properties>

    <Appenders>

        <RollingFile name="DebugLog"
                     fileName="${APP_LOG_ROOT}/${DEBUG_LOG_NAME}"
                     filePattern="${APP_LOG_ROOT}/${DEBUG_LOG_NAME}.%i"
                     append="true">
            <LevelRangeFilter minLevel="DEBUG" maxLevel="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            <JsonTemplateLayout eventTemplateUri="classpath:EcsLayout.json"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="${DEBUG_LOG_SIZE}"/>
            </Policies>
            <DefaultRolloverStrategy fileIndex="min" max="5"/>
        </RollingFile>

        <RollingFile name="InfoLog"
                     fileName="${APP_LOG_ROOT}/${INFO_LOG_NAME}"
                     filePattern="${APP_LOG_ROOT}/${INFO_LOG_NAME}.%i"
                     append="true">
            <LevelRangeFilter minLevel="INFO" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <JsonTemplateLayout eventTemplateUri="classpath:EcsLayout.json"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="${INFO_LOG_SIZE}"/>
            </Policies>
            <DefaultRolloverStrategy fileIndex="min" max="5"/>
        </RollingFile>

        <RollingFile name="WarnLog"
                     fileName="${APP_LOG_ROOT}/${WARN_LOG_NAME}"
                     filePattern="${APP_LOG_ROOT}/${WARN_LOG_NAME}.%i"
                     append="true">
            <LevelRangeFilter minLevel="ERROR" maxLevel="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
            <JsonTemplateLayout eventTemplateUri="classpath:EcsLayout.json"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="${WARN_LOG_SIZE}"/>
            </Policies>
            <DefaultRolloverStrategy fileIndex="min" max="5"/>
        </RollingFile>

    </Appenders>

    <Loggers>
        <Root level="TRACE">
            <AppenderRef ref="DebugLog"/>
            <AppenderRef ref="InfoLog"/>
            <AppenderRef ref="WarnLog"/>
        </Root>
    </Loggers>

</Configuration>
